{% extends 'base.html.twig' %}

{% block title %}
    Détail | {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Détail d'un wish... Titre de l'idée ici!</h2>
    <p>{{ wish }}</p>
    <p>id = {{ id }}</p>

{% endblock %}

