{% extends 'base.html.twig' %}

{% block body %}
    <h2>All Wishes</h2>

    <ul>
        {% for w in wishes %}
            <li>{{ w }}</li>
        {% endfor %}
    </ul>


{% endblock %}

{% block title %}
    All wishes | {{ parent() }}
{% endblock %}

