{% extends 'base.html.twig' %}

{% block body %}
    <h2>All Wishes</h2>

<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>

        {% for w in wishes %}
            <div>
                <a href="{{ path('wish_detail', {'id': w.id}) }}">
                <div class="uk-card uk-card-hover uk-card-body eni-card">
                    <h3 class="uk-card-title">{{ w.title }}</h3>
                    <p>Read more</p>
                </div>
                </a>
            </div>
        {% endfor %}
</div>


{% endblock %}

{% block title %}
    All wishes | {{ parent() }}
{% endblock %}

