{#  Pour chaque type de message temporaire (ex: [success, [messages]] #}
            {% for label, messages in app.flashes %}
                {#  Pour chaque message j'affiche une alert. ex: [Virement effectué, Connecté] #}
                {% for message in messages %}
                    <div class="uk-alert-{{ label }}" uk-alert>
                        <a href class="uk-alert-close" uk-close></a>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}