<!--FOOTER-->
<footer class="uk-section-secondary">
    <div class="uk-section uk-section-xsmall" style="background-color: rgba(0,0,0,0.15)">
        <div class="uk-container">
            <div class="uk-grid uk-child-width-1-2@s uk-text-center uk-text-left@s" data-uk-grid>
                <div class="uk-text-small uk-text-muted">
                    &copy; Bucket-List {{ "now"|date("Y") }}
                </div>
                <div class="uk-text-small uk-text-muted uk-text-center uk-text-right@s">
                    <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> | Built with <a
                            href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span
                                data-uk-icon="uikit"></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/FOOTER-->