<!-- NAVIGATION -->
<div class="uk-container">
    <nav class="nav-scroll">
        <ul class="uk-subnav uk-flex uk-flex-between uk-flex-nowrap">
            <li><a href="{{ path('main_home') }}">Home</a></li>
            <li><a href="{{ path('wish_list') }}">All wishes</a></li>
            <li><a href="{{ path('wish_create') }}">Create wish</a></li>
            <li><a href="{{ path('main_aboutus') }}">About Us</a></li>
        </ul>
    </nav>
</div>
<!-- /NAVIGATION -->